#navbar{
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.956);
}

#linkContainer{
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}

.lin{
    color: white;
}

.lin:hover{
    color: rgb(234, 234, 234);
    transform: scale(1.1);
    transition: transform 0.3s ease;
    padding: 0.3em;
    font-weight: 700;
    border-radius: 12px;
}

#bookings{
    background-color: #d58e42;
    padding: 0.3em;
    font-weight: 700;
    border-radius: 12px;
    color: rgb(255, 255, 255);
}

#bookings:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    color: rgb(255, 255, 255);
    background-color: #a96f31;
}